<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kitchen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.min.css" />
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/js-cookie.js"></script>
    <script src="/js/kitchen.js"></script>
    <script src="/js/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.js"></script>
</head>

<body>
    <header>
        <div id="brandBox">
            <img onclick="window.location='kitchen'" id="logo" src="/img/logo.png" alt="logo" style="width:30px;height:30px;display:none"
            />
            <p id="appName">
                <span style="color: #EA4622">This</span>
                <span style="color: #9fd8e2">is a</span>
                <span style="color: #F2847A">Pantry.</span>
            </p>
        </div>
        <div id="accountBox" onclick="window.location='account'">
            <p>Hello,
                <span id="accountBoxUserName">userName</span>
            </p>
            <img id="avatarImg" src="/img/avatar.png" alt="avatar" style="width:35px; height:35px" />
        </div>
    </header>

    <div class="content" id="app">
        <div class="wrapperPantry">
            <div class="block">
                <div id="fridge" class="pantryContainer">
                    <h1>Fridge</h1>
                    <ul v-if="checkFridge()" class="ingredientList">
                        <li v-for="ingredient in fridgeItems" class="ingredient" v-on:click="selectIngredient">
                            <div class="rowOne">
                                <p>
                                    <span class="ingredientName">\{{ingredient.name}}</span>
                                    <span class="ingredientHide">
                                        |
                                        <span class="ingredientCategory">\{{ingredient.category}}</span>
                                    </span>
                                </p>
                                <div>
                                    <button v-on:click="editIngredient" class="ingredientEditBtn">Edit</button>
                                    <button v-on:click="removeIngredient(ingredient)" class="ingredientDeleteBtn">x</button>
                                </div>
                            </div>
                            <p class="ingredientNote">\{{ingredient.note}}</p>
                        </li>
                    </ul>
                    <ul v-else class="ingredientList">
                        <p class="emptyText">Oops! Nothing is in your Fridge D:</p>
                    </ul>
                </div>
            </div>
            <div class="block">
                <div id="stove" class="pantryContainer">
                    <h1>Stove</h1>
                    <button id="make_meal" onclick="window.location='recipeList'">Make a Meal!</button>
                </div>
            </div>
            <div class="block">
                <div id="spiceRack" class="pantryContainer">
                    <h1>Spice Rack</h1>
                    <ul v-if="checkSpiceRack()" class="ingredientList">
                        <li v-for="ingredient in spiceRackItems" class="ingredient" v-on:click="selectIngredient">
                            <div class="rowOne">
                                <p>
                                    <span class="ingredientName">\{{ingredient.name}}</span>
                                    <span class="ingredientHide">
                                        |
                                        <span class="ingredientCategory">\{{ingredient.category}}</span>
                                    </span>
                                </p>
                                <div>
                                    <button v-on:click="editIngredient" class="ingredientEditBtn">Edit</button>
                                    <button v-on:click="removeIngredient(ingredient)" class="ingredientDeleteBtn">x</button>
                                </div>
                            </div>
                            <p class="ingredientNote">\{{ingredient.note}}</p>
                        </li>
                    </ul>
                    <ul v-else class="ingredientList">
                        <p class="emptyText">Oops! Nothing is in your Spice Rack D:</p>
                    </ul>
                </div>

                <div id="cupboard" class="pantryContainer">
                    <h1>Cupboard</h1>
                    <ul v-if="checkCupboard()" class="ingredientList">
                        <li v-for="ingredient in cupboardItems" class="ingredient" v-on:click="selectIngredient">
                            <div class="rowOne">
                                <p>
                                    <span class="ingredientName">\{{ingredient.name}}</span>
                                    <span class="ingredientHide">
                                        |
                                        <span class="ingredientCategory">\{{ingredient.category}}</span>
                                    </span>
                                </p>
                                <div>
                                    <button v-on:click="editIngredient" class="ingredientEditBtn">Edit</button>
                                    <button v-on:click="removeIngredient(ingredient)" class="ingredientDeleteBtn">x</button>
                                </div>
                            </div>
                            <p class="ingredientNote">\{{ingredient.note}}</p>
                        </li>
                    </ul>
                    <ul v-else class="ingredientList">
                        <p class="emptyText">Oops! Nothing is in your Cupboard D:</p>
                    </ul>
                </div>
            </div>
        </div>
        <button id="addIngredientBtn" v-on:click="openAddModal">Add ingredient!</button>

        <div id="addIngredientModal" class="modal is-hidden is-visuallyHidden">
            <div class="modal-content">
                <span id="closeModal" class="Close" v-on:click="closeModal">&times;</span>
                <div id="addIngredientModalContent">
                    <h1 v-if="edit">Edit Ingredient</h1>
                    <h1 v-else>Add Ingredient</h1>
                    <h3>Name</h3>
                    <input type="text" id="ingredientNameInput" placeholder="Pork, Lettuce, Milk..." v-model="newName" />
                    <h3>Category</h3>
                    <select id="ingredientCategorySelect" v-model="newCategory">
                        <option disabled selected value style="display:none"> - select an option - </option>
                        <option disabled>-Fridge-</option>
                        <option value="Meat">Meat</option>
                        <option value="Vegetable">Vegetable</option>
                        <option value="Diary">Diary</option>
                        <option value="Fruit">Fruit</option>
                        <option value="Drinks">Drinks</option>
                        <option disabled>-Spice Rack-</option>
                        <option value="Oil">Oil</option>
                        <option value="Sauce">Sauce</option>
                        <option value="Spice">Spice</option>
                        <option disabled>-Cupboard-</option>
                        <option value="Grain">Grain</option>
                        <option value="Misc">Miscellaneous</option>
                    </select>

                    <h3>Note</h3>
                    <textarea id="ingredientNoteTextarea" placeholder="Any notes..." v-model="newNote"></textarea>

                    <button v-if="edit" id="addIngredientToBtn" v-on:click="addIngredient(newName, newCategory, newNote)">Done!</button>
                    <button v-else id="addIngredientToBtn" v-on:click="addIngredient(newName, newCategory, newNote)">Add!</button>

                </div>
            </div>
        </div>
    </div>
    
</body>

</html>
