<!--
    The html skeleton of the recipe result page. Rendered by Vue.js. 
    Renders a recipe's details (e.g. name, picture, steps, ingredients, etc.)
    and a data visualization of the weight in grams (also percentage) of each 
    ingredients in contained in this recipe.
-->

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.min.css" />
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/js-cookie.js"></script>
    <script src="/js/recipeResult.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/canvasjs.min.js"></script>

</head>

<body>
    <header>
        <div id="brandBox">
            <img onclick="window.location='kitchen'" id="logo" src="/img/logo.png" alt="logo" style="width:50px;height:31px;" />
            <p id="appName">
                <span style="color: #43E97C">pan</span><span style="color: #3AF7CA">try</span>
            </p>
        </div>
        <div id="accountBox" onclick="window.location='account'">
            <p><span style="color: white">Hello,</span>
                <span id="accountBoxUserName">userName</span>
            </p>
            <img id="avatarImg" src="/img/avatar.png" alt="avatar" style="width:35px; height:35px" />
        </div>
    </header>

    <div class="content">
        <div id="recipe">
            <button class="backBtn" onclick="window.location='recipeList'">back</button>

            <div id="recipeInfo">
                <h1>\{{title}}</h1>
                <div class="titleBlock">
                    <div class="titleBlockLeft">
                        <div style="display:flex">
                            <ul class="ingredientList">
                                <li class="ingredient">Price Per Serving: <span style="float:right">\{{(pricePerServing/100).toFixed(2)}}$</span></li>
                                <li class="ingredient">Preparation: <span style="float:right">\{{preparationMinutes}} min</span></li>
                                <li class="ingredient">Cooking: <span style="float:right">\{{cookingMinutes}} min</span></li>
                            </ul>
                            <ul class="ingredientList">
                                <li class="ingredient">Vegetarian: <span style="float:right">\{{yesOrNo(vegetarian)}}</span></li>
                                <li class="ingredient">Vegan: <span style="float:right">\{{yesOrNo(vegan)}}</span></li>
                                <li class="ingredient">Gluten Free: <span style="float:right">\{{yesOrNo(glutenFree)}}</span></li>
                                <li class="ingredient">Dairy Free: <span style="float:right">\{{yesOrNo(dairyFree)}}</span></li>
                                <li class="ingredient">Low Fodmap: <span style="float:right">\{{yesOrNo(lowFodmap)}}</span></li>
                                <li class="ingredient">Ketogenic: <span style="float:right">\{{yesOrNo(ketogenic)}}</span></li>
                                <li class="ingredient">Whole30: <span style="float:right">\{{yesOrNo(whole30)}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <img class="recipeImg" :src="image" style=" width:500px; height:400px;">
                </div>

                <h2>Ingredients</h2>
                <div class="ingredientBlock">
                    <ul class="ingredientList">
                        <li v-for="ingredient in extendedIngredients" class="ingredient">
                            \{{ingredient.name}}
                            <div>
                                \{{ingredient.amount}} \{{ingredient.unit}}
                            </div>
                        </li>
                    </ul>
                    <div class="chartBlock">
                        <div id="chartContainer" style="height: 370px; max-width: 920px;"></div>
                    </div>
                </div>

                <h2>Steps</h2>
                <div class="stepBlock">
                    <ul class="ingredientList" id="instructions">
                        <li v-for="instruction in analyzedInstructions" class="ingredient">
                            \{{instruction.step}}
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>

</body>

</html>
